    <!doctype html> 
    <html lang="en"> 
        <head> 
            <meta charset="UTF-8"> 
            <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
            <meta name="viewport" content="width=device-width, initial scale=1.0"> 
            <title>R3 | StreetWear Clothing </title> 
            <link rel="stylesheet" href="{{ 'style.scss.css' | asset_url }}">     
            {{ content_for_header }}
        </head> 
        <body> 
            {% section 'header' %}
            <script src ="https://cdn.jsdelivr.net/npm/url-parse@1.5.10/dist/url-parse.min.js"></script>
            <script src="{{ 'script.js' | asset_url }}"></script>
            {{ content_for_layout }}
            {% section 'footer' %}
        </body>   
    </html> 