<section id="register" class="register-container"> 
    <h1>Register</h1>
    {% form 'create_customer' %}
        {{ form.errors | default_errors }}

        <div class="register-first-name">
            <input type="text" name="customer[first_name]" placeholder=" First Name">
        </div>

        <div class="register-last-name">
            <input type="text" name="customer[last_name]" placeholder=" Last Name">
        </div>

        <div class="register-email">
            <input type="email" name="customer[email]" placeholder=" Email">
        </div>

        <div class="register-password">
            <input type="password" name="customer[password]" placeholder=" Password" autocomplete="new-password">
        </div>

        <div class="register-country"> 
            <select name="customer[country]" placeholder=" Country">
                {{all_country_option_tags}}
            </select>
        </div>

         <div class="accepts-marketing">
            <input type="hidden" name="customer[accepts_marketing]" value="false" />

            <input type="checkbox" name="customer[accepts_marketing]" />
            <label for="accepts-marketing">Subscribe to email marketing</label>
        </div>

        <p>Already have an account? <a href="/account/login" class="hover-link">Log In</a></p>
        <div class="register-submit">
            <input type="submit" value="Create">
        </div>
    {% endform %}
</section>