<div class="reset-password-container">
    <h1> Reset Password </h1> 
        {%- form 'reset_customer_password' -%}
        {{ form.errors | default_errors }}

        <div class="reset-password">
            <input
            type="password"
            name="customer[password]"
            id="password"
            placeholder=" Password"
            autocomplete="new-password"
            >
        </div>

        <div class="password_confirm">
            <input
            type="password"
            name="customer[password_confirmation]"
            id="password_confirmation"
            placeholder =" Confirm Password"
            >
        </div>

        <div class="reset-submit">
            <button>Reset password</button>
        </div>
        {%- endform -%}
</div>
